language: node_js
node_js:
- '10'
sudo: false
install:
- npm install --only=dev
- npm ci
before_script:
- node node_modules/eslint/bin/eslint.js .
script:
- node ./edenconfig.js
after_script:
- npm test
deploy:
  provider: npm
  email: alex@edenup.com
  api_key:
    secure: q57Nz5zApHl7YlfDeORBAcLqMKmgxMx30vGLKcvVLpVFi9DedTexhqbfH9DS23PkjeqxioV8HPcSNDWseYyoGm6PQ4e1M9W7l9/MUw9/hgl+lfPPQj+aAEyJxJp9k8XrMu5bMmKMyp6YBIVv3KaJOHgH/Ip2ureQDGIEaaRhByZxjUorH9e1RNmXFm0NO2Q7UB8/3zUlljdAxvGaSZL+4IC8JTElHVrXZq/t7a9yH9i7U9dV+YvMISfRHRdvCSxMxGJzCAHIRkz8k3zibAzExMXKplkHxUy3YqV7P0svvveIqnuz2DBnys0KyHdQpvvKcxkdTcGxGXnrd6ZlWyBNM/pucuYrLKUxYn5WvLHy/Q50WI9GrMijAuyrJtZs541T+ZR32N4iBRZVuFcLjDxdQiGWcAN/5umodFjI1BBYfnRFjmBhdJP15Mj4rCAAryHXbTA15mPMI/b5UMlotmF2CUzfW2XSWWM5+2lReiFzXXcrf5Vd4N7TADzfyk3sBCHQ7ZC2gfLvvEKteJTHMZ36D5JlGWRgrKnQxrKUCmmLCQmnYb5qZus5IiDMqaTmDdnRs0AlnWj/L8xHOmQ7JeUWYMtOQVm2YMOWpmbRA+p6zRcV0PS62kTM4gq4+CsBQ6ThsBEKl75Yw8FOd+srt15xfrM+uqUj7cJrP0JkLXavMUg=
  on:
    tags: true
    repo: eden-js/shop
